@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container mt-5">
    <h1 class="text-center">Welcome to the YMCA!</h1>
    <div class="row" id="test">
        <div class="col">
            @Model.username
        </div>
        <div class="col">
            @Model.usertype
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">About Us</h5>
                    <p class="card-text">Learn more about our mission and values at the YMCA. We are dedicated to improving the quality of life for our community.</p>
                    <a href="/About" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Membership</h5>
                    <p class="card-text">Explore our membership options and join our community. Become a part of the YMCA family today!</p>
                    <a href="/Membership" class="btn btn-primary">Join Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Check out our Programs</h5>
                    <a href="/Programs" class="btn btn-primary">Sign up now!</a>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-5 text-center">
        <h2>Upcoming Events</h2>
        <p>Join us for our upcoming events and activities! Check our calendar for more details.</p>
        <a class="btn btn-success" href="events.html">View Events</a>
    </div>
</div>
