@page
@model YMCAProject.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>

<!-- Member Login Button and Modal -->
<button id="memberLoginButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#memberLoginModal">
  Member? Login here
</button>

<div class="modal fade" id="memberLoginModal" tabindex="-1" aria-labelledby="memberLoginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="memberLoginModal">Member Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="memberEmail">
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="memberPassword">
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Staff Login Button and Modal -->
<button id="staffLoginButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#staffLoginModal">Staff? Login here</button>

<div class="modal fade" id="staffLoginModal" tabindex="-1" aria-labelledby="staffLoginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staffLoginModal">Staff Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" type="email" class="form-control" id="StaffEmail" aria-describedby="emailHelp">
            <span asp-validation-for="Email" class="text-danger"></span>
          </div>
          <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" id="StaffPassword">
            <span asp-validation-for="Password" class="text-danger"></span>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>