@page
@model YMCAProject.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>

<!-- User Login Button and Modal -->
<button id="userLoginButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#userLoginModal">
  User? Login here
</button>

<div class="modal fade" id="userLoginModal" tabindex="-1" aria-labelledby="userLoginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="userLoginModal">User Login</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="UserEmail" class="form-label">Email address</label>
            <input type="email" class="form-control" id="UserEmail" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div class="mb-3">
            <label for="UserPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="UserPassword">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<button type="button" class="btn btn-primary btn-lg">Staff? Login heree</button>