@page
@model YMCAProject.Pages.MembershipModel
@{
    ViewData["Title"] = "Membership";
}

<div>
    <h1>Join the YMCA Today</h1>
    <br>
    <p>
        Experience a vibrant and welcoming community by becoming a YMCA member! 
        Whether you're looking to improve your fitness, connect with others, or simply 
        enjoy a variety of recreational activities, our membership provides something 
        for everyone. As a YMCA member, you'll enjoy:
    </p>
    <ul>
        <li>
            <b>Access to State-of-the-Art Facilities:</b> From fitness centers to pools, group exercise classes, 
            and sports courts, the YMCA offers top-tier amenities to support your health and wellness goals.
        </li>
        <li>
            <b>Programs for All Ages:</b> We offer programs tailored for children, teens, 
            adults, and seniors, including youth sports, swim lessons, personal training, 
            and wellness programs.
        </li>
        <li>
            <b>Family-Friendly Environment:</b> With a wide range of activities for families, including childcare, 
            family fitness classes, and weekend events, the YMCA is the perfect place to connect with loved ones 
            and create lasting memories.
        </li>
        <li>
            <b>Exclusive Member Discounts:</b> Enjoy reduced rates on specialty programs, camps, and community events.
        </li>
        <br>
    </ul>
    <p>
        At the YMCA, we believe in making a positive impact on mind, body, and spirit. With flexible membership options and 
        financial assistance available, it's never been easier to join the Y and become part of a supportive community dedicated to healthy living and personal growth.
    </p>
    <br>
    <p>
        Ready to take the next step? Join today and start your journey towards a healthier, happier life at the YMCA!
    </p>
    <button id="becomeMemberButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="">
        <b>Become a Member Today!</b>
    </button>
</div>