@page
@model YMCAProject.Pages.MembershipModel
@{
    ViewData["Title"] = "Membership";
}

<div>
    <h1>Join the YMCA Today</h1>
    <hr>
    <p>
        Experience a vibrant and welcoming community by becoming a YMCA member! 
        Whether you're looking to improve your fitness, connect with others, or simply 
        enjoy a variety of recreational activities, our membership provides something 
        for everyone. As a YMCA member, you'll enjoy:
    </p>
    <ul>
        <li>
            <b>Access to State-of-the-Art Facilities:</b> From fitness centers to pools, group exercise classes, 
            and sports courts, the YMCA offers top-tier amenities to support your health and wellness goals.
        </li>
        <li>
            <b>Programs for All Ages:</b> We offer programs tailored for children, teens, 
            adults, and seniors, including youth sports, swim lessons, personal training, 
            and wellness programs.
        </li>
        <li>
            <b>Family-Friendly Environment:</b> With a wide range of activities for families, including childcare, 
            family fitness classes, and weekend events, the YMCA is the perfect place to connect with loved ones 
            and create lasting memories.
        </li>
        <li>
            <b>Exclusive Member Discounts:</b> Enjoy reduced rates on specialty programs, camps, and community events.
        </li>
        <br>
    </ul>
    <p>
        At the YMCA, we believe in making a positive impact on mind, body, and spirit. With flexible membership options and 
        financial assistance available, it's never been easier to join the Y and become part of a supportive community dedicated to healthy living and personal growth.
    </p>
    <hr>
    <p>
        Ready to take the next step? Join today and start your journey towards a healthier, happier life at the YMCA!
    </p>

    <!-- Become a Member button and modal -->
    <button id="becomeMemberButton" type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#becomeMemberModal">
        <b>Become a Member Today!</b>
    </button>

    <div class="modal fade" id="becomeMemberModal" tabindex="-1" aria-labelledby="becomeMemberModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="becomeMemberModal">Member Sign up</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form>
                <div class="mb-3">
                    <label for="MemberFirstName" class="form-label">First Name</label>
                    <input type="name" class="form-control" id="MemberFirstName">
                </div>
                <div class="mb-3">
                    <label for="MemberLastName" class="form-label">Last Name</label>
                    <input type="name" class="form-control" id="MemberLastName">
                </div>
                <div class="mb-3">
                    <label for="MemberEmail" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="MemberEmail" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="MemberPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="MemberPassword">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
    </div>
</div>