@page
@model YMCAProject.Pages.MembershipModel
@{
    ViewData["Title"] = "Membership";
}

<h1>Membership Page</h1>
<p>Welcome to the Membership page. Here you can learn more about our membership options.</p>