@page
@model YMCAProject.Pages.MembershipModel
@{
    ViewData["Title"] = "Membership";
}

<h1>Membership Page</h1>
<p>Welcome to the Membership page. Here you can learn more about our membership options.</p>

<div class="container">    
    <a class='btn btn-primary mb-3' href='/CreateMember'>Sign Up</a>

    <div class="member-section">
        <h2>Membership</h2>
        <p>Becoming a member at the YMCA offers you access to a variety of wellness programs, 
            state-of-the-art fitness facilities, and supportive community events. Members enjoy exclusive benefits such 
            as free group exercise classes, discounted rates on programs like swimming lessons and summer camps, and 
            priority access to childcare services. With a focus on strengthening mind, body, and spirit, YMCA membership 
            also includes resources for healthy living, personal training, and family-friendly activities, all within a 
            welcoming and inclusive environment.</p>
    </div>
    
    <div class="non-member-section">
        <h2>Non-Members</h2>
        <p>As a non-member, you’re welcome to explore the YMCA's facilities, programs, and events through 
            options like day passes and programs. This is a great option if you only want to take a single class or are unsure 
            if membership is right for you. The YMCA offers a range of activities for all ages, including fitness classes,
             youth sports, and community gatherings. Non-members can still benefit from select classes and programs, while 
             learning more about the full range of services that come with membership, such as unlimited facility access, 
             discounted rates, and exclusive events. Discover the supportive community and opportunities for wellness that 
             await you at the YMCA!</p>
    </div>
</div>