@page
@model YMCAProject.Pages.UserManualModel
@{
    ViewData["Title"] = "UserManual";
}

<h1>User Manual</h1>
<p>Welcome to the User page. Here you can learn about how the site runs and how to use it.</p>

<h2>Introduction</h2>
<p>This User manual describes how to use the YMCAProject website. Using This site a user..</p>